<<<<<<< HEAD
{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{#with data}}
<main class='main'>
  <div class='alert'>
    <div class='alert__info'>
      <h2 class='alert__title'>{{message}}</h2>
      <p class='alert__text'>{{info}}</p>
    </div>
    <a class='alert__button' href='{{link}}'>Повернутись назад</a>
  </div>
</main>
{{/with}}


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
=======
<div class="alert">
  <div>
    <strong class="alert__title">{{info}}</strong>
    <p>{{alert}}</p>
  </div>
  <a class="alert__button" href="/product-list">Повернутися назад</a>
</div>
>>>>>>> a062e27898b342020978238fff5b47050d7eadef
