<div class="field {{#if disabled}} field--disabled {{/if}}">
    <label for="{{name}}" class="field__label">{{label}}</label>
    <input class="field__input" type={{#if type}}{{type}}{{/if}} name={{#if name}}{{name}}{{/if}} value={{value}} {{#if readonly}}readonly{{/if}}>
</div>


